<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>.\TestResults</ResultsDirectory>
	</RunConfiguration>
	<TestRunParameters>
		<!-- The platform for the Tecnomatix environment. Can be one of: psz, ems , tc, tcpsz-->
		<Parameter name="platform" value="psz" />
		<!-- Optional load mode. Can either be line or default -->
		<!--<Parameter name="mode" value="default" />-->
		<!-- The study which will be loaded. For psz and tcpsz a file path releative to the test data root is expected. For ems the external id has to be provided as study-->
		<Parameter name="study" value="Caipi\caipi project.psz" />
		<!-- The System Root releative to the tests data root -->
		<Parameter name="sysroot" value="Caipi\sysroot" />
		<!-- The name of the Solution the test project belongs to -->
		<Parameter name="solutionName" value="Tx-Dev-Workshop" />
	</TestRunParameters>
</RunSettings>